[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/jaegerbluemix
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jaegerbluemix
	label-Verified = -1..+1 group user/jaegerbluemix
	push = group user/jaegerbluemix
	read = group user/jaegerbluemix
	rebase = group user/jaegerbluemix
	removeReviewer = group user/jaegerbluemix
	submit = group user/jaegerbluemix
[access "refs/heads/*"]
	create = group user/jaegerbluemix
	push = +force group user/jaegerbluemix
	pushMerge = group user/jaegerbluemix
	read = group user/jaegerbluemix
[access "refs/tags/*"]
	push = group user/jaegerbluemix
	push = +force group user/jaegerbluemix
